body {
  background-color: #f3eee0;
}
hr {
  border-style: dotted none none none;
  border-width: 7px;
  border-color: gray;
  width: 15%;
}
h1 {
  color: #003366
}
h3 {
  color: #003366
}
